.vscode/**
.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
sample/**
.gitignore
.github
pref.png
*.gif
*.vsix
CHANGELOG.md
CODE_OF_CONDUCT.md
node_modules
FUNDING.yml
*.zip
